{% extends 'base.html' %} {% block content %}
<div id="templatemo_content_wrapper">
	<div id="templatemo_content">
    	<div id="column_w530" style="text-align:justify; width:585px;">
            <div class="header_02" style="border-bottom:1px solid">Change Password</div>
            <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
    {% if messages %}
<div class="alert alert-success fade in" style="margin:10px;">
{% for message in messages %}
<strong>{{ message }}</strong>
{% endfor %}
</div>
{% endif %}
				<div class="row">
					<label for="name">Old Password:</label><br />
					<input type="password" class="form-control" placeholder="Old Password" required autofocus="" name="user_password" id="user_password"><br />
				</div>
				<div class="row">
					<label for="name">New Password:</label><br />
					<input type="password" class="form-control" placeholder="New Password" required autofocus="" name="user_new_password" id="user_new_password"><br />
				</div>
				<div class="row">
					<label for="name">Confirm Password:</label><br />
					<input type="password" class="form-control" placeholder="Confirm Password" required autofocus="" name="user_confirm_password" id="user_confirm_password"><br />
				</div>
				<button class="btn-sub" type="submit">Submit</button>
				
			</form>						
            <div class="cleaner"></div>
        </div>
        
    	<div class="cleaner"></div>
    </div> <!-- end of content wrapper -->
</div> <!-- end of content wrapper -->

{% endblock content %}
