{% extends 'base.html' %}
{% block content %}
    <div id="templatemo_content_wrapper">
	<div id="templatemo_content">
    
    	<div id="column_w530" style="text-align:justify; width:585px;">
            <div class="header_02" style="border-bottom:1px solid">About Project</div>
            <p>Airline reservation System is a computerized system used to store and retrieve information and conduct transactions related to air travel. The project is aimed at exposing the relevance and importance of Airline Reservation Systems. It is projected towards enhancing the relationship between customers and airline agencies through the use of ARSs, and thereby making it convenient for the customers to book the flights as when they require such that they can utilize this software to make reservations.
                After search the system display list of available flights and allows customer to choose a particular flight. Then the system checks for the availability of seats on the flight. If the seats are available then the system allows the passenger to book a seat. Otherwise it asks the user to choose another flight To book a flight the system asks the customer to enter his details such as name, address, city, state, and credit card number and contact number. Then it checks the validity of card and book the flight and update the airline database and user database. The system also allows the customer to cancel his/her reservation, if any problem occurs.
                </p>
            <p>Airlineses may be used for scheduled airlines transport, scheduled coach transport, school transport, private hire, or tourism; promotional airlineses may be used for political campaigns and others are privately operated for a wide range of purposes, including rock and pop band tour vehicles.</p>            
            <div class="cleaner"></div>
        </div>
        <div id="column_w300" style="margin-top:60px;">
			<img src="/assets/images/home.png" style="width:300px; border-radius:30%">
        </div>   
    	<div class="cleaner"></div>
    </div> <!-- end of content wrapper -->
</div> <!-- end of content wrapper -->
{% endblock content %}

