{% extends 'base.html' %}
{% block content %}

<div id="templatemo_banner_wrapper">
	<div id="templatemo_banner">
    
    	<div id="templatemo_banner_image">
        	<div id="templatemo_banner_image_wrapper">
            	<img src="/assets/images/home.png" alt="image 1" style="width:380px; height:210px"/>
            </div>
        </div>
        
        <div id="templatemo_banner_content">
        	<div class="header_01">Welcome to Airlines Reservation System </div>
            <p>A airlines reservation system , is a system to manage the informations of the airlines and assist you to reserv your ticket in just few clicks</p>
            <div class="button_01"><a href="#">Read more</a></div>
        </div>	
    
    	<div class="cleaner"></div>
    </div> <!-- end of banner -->
</div> <!-- end of banner wrapper -->

<div id="templatemo_content_wrapper">
	<div id="templatemo_content">
    
    	<div id="column_w530" style="text-align:justify; ">
        	
            <div class="header_02">Airlines Reservation System</div>
            <p>A airlines (archaically also omniairlines, multiairlines, motorairlines, autoairlines) is a road vehicle designed to carry many passengers. Airlineses can have a capacity as high as 300 passengers. The most common type of airlines is the single-deck rigid airlines, with larger loads carried by double-decker and articulated airlineses, and smaller loads carried by midiairlineses and miniairlineses; coaches are used for longer-distance services. Many types of airlineses, such as city transit airlineses and inter-city coaches, charge a fare. Other types, such as elementary or secondary school airlineses or shuttle airlineses within a post-secondary education campus do not charge a fare. In many jurisdictions, airlines drivers require a special licence above and beyond a regular driver's licence.</p>
            <p>Airlineses may be used for scheduled airlines transport, scheduled coach transport, school transport, private hire, or tourism; promotional airlineses may be used for political campaigns and others are privately operated for a wide range of purposes, including rock and pop band tour vehicles.</p>
            <div class="cleaner"></div>
        </div>
        
        <div id="column_w300" align='right'>
        
        	<div class="header_03">Project Modules</div>
            
            <div class="column_w300_section_01">
            	<div class="news_image_wrapper">
                	<img src="/assets/images/home.png" alt="image" style="height:70px; width:70px;" />
                </div>
                
                <div class="news_content">
                    <div class="header_04"><a href="#">Airlines Management</a></div>
                    <p>Today we will se something different in this site, Welcome to our project base on python that is airline reservation system</p>
				</div>
                                
                <div class="cleaner"></div>
            </div>
        
            <div class="column_w300_section_01">
            	<div class="news_image_wrapper">
                	<img src="/assets/images/news2.jpeg" alt="image" style="height:70px; width:70px;" />
                </div>
                
                <div class="news_content">
                    <div class="header_04"><a href="#">Login System</a></div>
                    <p>May be login page is common every site but we should try something different. which you liked.</p>
				</div>
                                
                <div class="cleaner"></div>
            </div>
            
            <div class="cleaner"></div>
        </div>
    
    	<div class="cleaner"></div>
    </div> <!-- end of content wrapper -->
</div> <!-- end of content wrapper -->
    
{% endblock content %}

